<% provide(:title, "About")%>

<h1>About</h1>

<h3>PCMonitor</h3>
<p>
  A platform to manage relays with devices.
</p>
<p> <strong>Framework: </strong> <a href="https://guides.rubyonrails.org/6_1_release_notes.html">Ruby on Rails 6</a></p>
<p> <strong>Wyze API: </strong> <a href="https://github.com/shauntarves/wyze-sdk">wyze-sdk with Flask to turn into an API</a></p>

